// Specific CSS for your home-page

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px;
}


.card-category-1 {
  width: 750px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F62F6;
  font-size: 32px;
  background-position: center;
  background-size: cover;
  margin: 15px;
  text-align: center;
  text-shadow: black;
}


.card-category-2 {
  width: 480px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F62F6;
  font-size: 32px;
}

