// Specific CSS for your home-page

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.card-category {
  width: 450px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3F62F6;
  font-size: 32px;
}

