.containerrentings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-renting {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 700px;
  margin : 40px;
}

.card-renting > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-renting h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-renting p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-renting .card-renting-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
