.containerrentings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-renting {
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 1000px;
  margin: 20px;
}

.card-renting > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-renting h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.card-renting h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.card-renting p {
  font-size: 12px;
  margin: 0;
  padding: 10px;
}

.card-button {
  display: flex;
  padding: 10px;
}

.card-renting-details {
  display: flex;
  padding: 10px;
}
