
<div class="category">
  <% @categories.each do |category| %>
      <div class="card-category-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path  "background_images/#{category.url}" %>)">
      <%= link_to category.name, superpowers_path(category_id: category.id) %>
    </div>
  <% end %>
</div>




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Superpower Me declines all responsibilities in case of illegal activities, accidents and/or death
  </div>'background_images/
</div>


