
<div class="category">
  <% categories = ['Daily Life', 'Arts & Culture', 'Animals & Creatures', 'Transportation', 'Almost legal'] %>
  <% categories.each do |category| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path  'background_images/cat_dailylife.jpg' %>)">
      <%= "#{category}" %>
    </div>
  <% end %>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Superpower Me declines all responsibilities in case of illegal activities, accidents and/or death
  </div>
</div>


