.navbar-lewagon {
  justify-content: space-between;
  background: #3F62F6;
  color : white;
  position: fixed;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.navbar-lewagon .navbar-collapse a {
  color : black;
}

.search-form {
  display: inherit;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
  }

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: black;
}

.ninja {
  font-size: 32px;
}


.ninja:hover {
  color: #565857;
  font-size: 35px;
}
